<% layout('layouts/boilerplate')%>
  <h1>Ups! Something went wrong!</h1>
<div>
  <h3>We're sorry your request couldn't be procesed...</h3>
</div>
  <div>
    <h4>Details:</h4>
    <p><%=msg%></p>
  </div>
  
<a href="/">Back to Home</a> || <a href="/chickens">Back to All Chickens</a>